h1{
    font-size:100px;
    color:rgb(12, 250, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
   body {
    background-image: url(https://bit.ly/32rijnC);
    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    color: white;
    font-size: 35px;
}
label{
    color: white;
}
.container{
    
    font-weight: 300;
}
.btn{
    size: 25px;
}